@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Righteous&display=swap');
:root{
    --azul-escuro: #1D3557;
    --azul-claro: #0176D3;
    --branco: #F1FAEE;
   --titulo: "Righteous", "Sans-serif";
   --texto-comum: "Alata", "Sans-serif";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@media (min-width: 320px)and (max-width: 439px){
    .divOne-paginaIncial{
        background-color: var(--azul-escuro);
        padding: 2vw;
    }
    .divOne-tituloPrincipal{
        color: var(--branco);
        margin-block: 3vh;
        font-size: 13vw;
        font-family: var(--titulo);
        display: flex;
        justify-content: center;
    }
    .divOne-OrganizacaoText{
        padding-inline: 7vw;
    }
    .divOne-textoPrincipal{
        font-family: var(--texto-comum);
        color: var(--branco);
        font-size: 5vw;
    }
    .divOne-OrgImagemCustomer{
        display: flex;
        justify-content: center;
    }
    .divOne-imagemCustomer{
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .divTwo-organizacaoTituloPrincipal{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 6vw;
        padding-inline: 15vw;
        font-family: var(--titulo);
        color: var(--azul-claro)
    }
    .divTwo-tituloPrincipal{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }
    .divTwo-organizacaoimagemGympass{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    .divTwo-imagemParcerias{
        width: 55vw;
    }
    .layout-paginaInicial{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4vw;
        margin-block: 4vw;
    }
    .layout-paginaInicial2{
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
    }
    .teste{
        width: 70vw;
        height: 20em;
        background-color: #032D60;
        border-radius: 20px;
    }
    .layout-imagem-paginaInicial{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .formatacao-imagem-paginaInicial{
        width: 60vw;
    }
    .texto-imagem-paginaInicial{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Righteous", sans-serif;
        color: white;
        list-style: none;
    }
    .texto-imagem{
        color: white;
        font-size: 1.7em;
    }
    .texto-imagem:visited{
        color: white;
    }
    .significado-personagens{
        font-size: 4vw;
        color: var(--azul-claro);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--titulo);
        margin-block: 2vw;
    }

}
@media (min-width: 440px)and (max-width: 580px){
    .divOne-paginaIncial{
        background-color: var(--azul-escuro);
        padding: 2vw;
    }
    .divOne-tituloPrincipal{
        color: var(--branco);
        margin-block: 3vh;
        font-size: 13vw;
        font-family: var(--titulo);
        display: flex;
        justify-content: center;
    }
    .divOne-OrganizacaoText{
        padding-inline: 7vw;
    }
    .divOne-textoPrincipal{
        font-family: var(--texto-comum);
        color: var(--branco);
        font-size: 5vw;
    }
    .divOne-OrgImagemCustomer{
        display: flex;
        justify-content: center;
    }
    .divOne-imagemCustomer{
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .divTwo-organizacaoTituloPrincipal{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 6vw;
        padding-inline: 15vw;
        font-family: var(--titulo);
        color: var(--azul-claro)
    }
    .divTwo-tituloPrincipal{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }
    .divTwo-organizacaoimagemGympass{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    .divTwo-imagemParcerias{
        width: 55vw;
    }
    .layout-paginaInicial{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4vw;
        margin-block: 4vw;
    }
    .layout-paginaInicial2{
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
    }
    .teste{
        width: 70vw;
        height: 20rem;
        background-color: #032D60;
        border-radius: 20px;
    }
    .layout-imagem-paginaInicial{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .formatacao-imagem-paginaInicial{
        width: 18rem;
    }
    .texto-imagem-paginaInicial{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Righteous", sans-serif;
        color: white;
        list-style: none;
    }
    .texto-imagem{
        color: white;
        font-size: 1.7em;
    }
    .texto-imagem:visited{
        color: white;
    }
    .significado-personagens{
        font-size: 4vw;
        color: var(--azul-claro);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--titulo);
        margin-block: 2vw;
    }
}
@media (min-width: 720px) and (max-width: 1024px){
    .divOne-paginaIncial{
        background-color: var(--azul-escuro);
        padding: 2vw;
    }
    .divOne-tituloPrincipal{
        color: var(--branco);
        margin-block: 3vh;
        font-size: 10vw;
        font-family: var(--titulo);
        display: flex;
        justify-content: center;
    }
    .divOne-OrganizacaoText{
        padding-inline: 7vw;
    }
    .divOne-textoPrincipal{
        font-family: var(--texto-comum);
        color: var(--branco);
        font-size: 4vw;
    }
    .divOne-OrgImagemCustomer{
        display: flex;
        justify-content: center;
    }
    .divOne-imagemCustomer{
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .divTwo-organizacaoTituloPrincipal{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 2vw;
        margin-bottom: 6vw;
        padding-inline: 15vw;
        font-family: var(--titulo);
        color: var(--azul-claro)
    }
    .divTwo-tituloPrincipal{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4vw;
    }
    .divTwo-organizacaoimagemGympass{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }
    .divTwo-imagemParcerias{
        width: 45vw;
    }
    .texto-imagem-paginaInicial{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .teste{
    width: 20rem;
    height: 20rem;
    background-color: #032D60;
    border-radius: 20px;
    }
    .imagens-paginaInicial{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .layout-paginaInicial{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        row-gap: 1rem;
        margin-block: 2vh;
    }
    .formatacao-imagem-paginaInicial{
        width: 18rem;
    }
    .layout-imagem-paginaInicial{
        display: flex;
        justify-content: center;
    }
    .layout-paginaInicial2{
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
    }
    .texto-imagem{
        color:var(--branco);
        font-family: var(--titulo);
    }
    .significado-personagens{
        font-size: 2vw;
        color: var(--azul-claro);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--titulo);
        margin-block: 2vw;
    }
}
@media (min-width: 1025px) and (max-width: 1440px){
    .divOne-paginaIncial{
        background-color: var(--azul-escuro);
        padding: 2vw;
    }
    .organizacao-divOne{
        display: flex;
        align-items: center;
    }
    .divOne-tituloPrincipal{
        color: var(--branco);
        margin-block: 1.5vh;
        font-size: 6vw;
        font-family: var(--titulo);
        display: flex;
        justify-content: center;
    }
    .divOne-OrganizacaoText{
        padding-inline: 7vw;
    }
    .divOne-textoPrincipal{
        font-family: var(--texto-comum);
        color: var(--branco);
        font-size: 2.5vw;
    }
    .divOne-OrgImagemCustomer{
        display: flex;
        justify-content: center;
    }
    .divOne-imagemCustomer{
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .divTwo-organizacaoTituloPrincipal{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 2vw;
        margin-bottom: 2vw;
        padding-inline: 15vw;
        font-family: var(--titulo);
        color: var(--azul-claro)
    }
    .divTwo-tituloPrincipal{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5vw;
    }
    .organizacao-parcerias{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .divTwo-organizacaoimagemGympass{
    }
    .divTwo-imagemParcerias{
        width: 24vw;
    }
    .texto-imagem-paginaInicial{
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .teste{
    width: 20rem;
    height: 20rem;
    background-color: #032D60;
    border-radius: 20px;
    }
    .imagens-paginaInicial{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .layout-paginaInicial{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        row-gap: 1rem;
        margin-block: 2vh;
    }
    .formatacao-imagem-paginaInicial{
        width: 18rem;
    }
    .layout-imagem-paginaInicial{
        display: flex;
        justify-content: center;
    }
    .layout-paginaInicial2{
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4rem;
    }
    .texto-imagem{
        color:var(--branco);
        font-family: var(--titulo);
    }
    .significado-personagens{
        font-size: 2vw;
        color: var(--azul-claro);
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--titulo);
        margin-block: 2vw;
    }
}