@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Righteous&display=swap');
:root{
    --azul-escuro: #1D3557;
    --azul-claro: #0176D3;
    --branco: #F1FAEE;
   --titulo: "Righteous", "Sans-serif";
   --texto-comum: "Alata", "Sans-serif";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@media (min-width: 320px)and (max-width: 439px){
    .navegacao-personagens{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 2.5rem;
    }
    .conjunto-propositos-personagens{
        background-color: var(--azul-claro);
        width: 90vw;
        border-radius: 20px;

    }
    .personagem-personagens{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
    }
    .organizacao-personagens{
        display:flex;
        justify-content: center;
    }
    .texto-personagens{
        padding: 4vw;
    }
    .titulo-personagens{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--titulo);
        color: var(--branco)
    }
    .subtitulo-personagens{
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--texto-comum);
        color: var(--branco);
        margin-bottom: 1vh;
    }
    .texto-esquerda{
        font-family: var(--texto-comum);
        color: var(--branco);
    }
}
@media (min-width: 440px)and (max-width: 580px){
    .navegacao-personagens{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 2.5rem;
    }
    .conjunto-propositos-personagens{
        background-color: var(--azul-claro);
        width: 90vw;
        border-radius: 20px;

    }
    .personagem-personagens{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
    }
    .organizacao-personagens{
        display:flex;
        justify-content: center;
    }
    .texto-personagens{
        padding: 4vw;
    }
    .titulo-personagens{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--titulo);
        color: var(--branco);
        font-size: 4.5vw;
    }
    .subtitulo-personagens{
        font-size: 5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--texto-comum);
        color: var(--branco);
        margin-bottom: 1vh;
    }
    .texto-esquerda{
        font-family: var(--texto-comum);
        color: var(--branco);
    }
}
@media (min-width: 720px) and (max-width: 1024px){
    .navegacao-personagens{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 2.5rem;
    }
    .conjunto-propositos-personagens{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--azul-claro);
        width: 95vw;
        border-radius: 20px;

    }
    .personagem-personagens{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28vw;
    }
    .organizacao-personagens{
        display:flex;
        justify-content: center;
    }
    .texto-personagens{
        padding: 4vw;
    }
    .titulo-personagens{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--titulo);
        color: var(--branco);
        font-size: 3vw;
    }
    .subtitulo-personagens{
        font-size: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--texto-comum);
        color: var(--branco);
        margin-bottom: 1vh;
    }
    .texto-esquerda{
        font-family: var(--texto-comum);
        color: var(--branco);
        font-size: 1.4rem;
    }
}
@media (min-width: 1025px) and (max-width: 1440px){
    .navegacao-personagens{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-block: 2.5rem;
    }
    .conjunto-propositos-personagens{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--azul-claro);
        width: 85vw;
        padding-inline: 1vw;
        padding-block: .5vw;
        border-radius: 20px;

    }
    .personagem-personagens{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28vw;
    }
    .organizacao-personagens{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .texto-personagens{
        padding: 4vw;
    }
    .titulo-personagens{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--titulo);
        color: var(--branco);
        font-size: 3vw;
    }
    .subtitulo-personagens{
        font-size: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--texto-comum);
        color: var(--branco);
        margin-bottom: 1vh;
    }
    .texto-esquerda{
        font-family: var(--texto-comum);
        color: var(--branco);
        font-size: 1.4rem;
    }
}
