@import url('https://fonts.googleapis.com/css2?family=Alata&family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Righteous&display=swap');

:root{
    --azul-escuro: #1D3557;
    --branco: #F1FAEE;
   --titulo: "Righteous", "Sans-serif";
   --texto-comum: "Alata", "Sans-serif";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


@media (min-width: 320px)and (max-width: 439px){

    .div-principal-header{
        height: 30vh;
        background-color: var(--azul-escuro);
        display: flex;
        justify-content: center;
    }
    .opcoes-logo-header{
        display: flex;
        justify-content: center;
    }
    .opcoes-header{
        display: none;
    }
    .menu-header{
        width: 12vw;
        margin-left: -5vw;
    }
    .LogoSalesForce-header{
        width: 50vw;
    }
    .section-principal-header{
        height: 30vh;
        background-color: var(--azul-escuro);
        display: flex;
        justify-content: center;
        gap: .5rem;
    }
    .hamburger {
        cursor: pointer;
        display: flex;
        align-items: center;
        z-index: 4;
      }
      
      .hamburger input {
        display: none;
      }
      .logo-sales-force{
        display: flex;
        align-items: center;
        margin-top: 2vh;
        margin-left: 2vh;
      }
      .hamburger svg {
        height: 3em;
        /* Define the transition for transforming the SVG */
        transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-inline: 2vw;
        z-index: 4;
      }
      
      .line {
        fill: none;
        stroke: var(--branco);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        /* Define the transition for transforming the Stroke */
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .line-top-bottom {
        stroke-dasharray: 12 63;
      }
      
      .hamburger input:checked + svg {
        transform: rotate(-45deg);
      }
      
      .hamburger input:checked + svg .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
      }
      .nav-list {
        display: none;
        flex-direction: column;
        background-color: #032D60; /* Cor de fundo do menu */
        padding: 1vw;
        position: absolute;
        top: 10vh; /* Posição inicial do menu */
        width: 10vw; /* Largura do menu */
        z-index: 3;
    }
    
    .nav-list.open {
        display: flex;
        align-items: center; 
        z-index: 3;
    }
    
    .nav-item {
        list-style-type: none;
        margin-bottom: 10px;
    }
    
    .nav-link {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;
        font-family: "Righteous", 'sans-serif';
    }
    
    .nav-link:hover {
        color: #fff; /* Cor do texto ao passar o mouse */
    }
    .nav-link:visited {
        color: #fff; /* Cor do texto ao passar o mouse */
    }
}
@media (min-width: 440px)and (max-width: 580px){
    .div-principal-header{
        width: 100%;
        height: 30vh;
        background-color: var(--azul-escuro);
        display: flex;
        justify-content: center;
    }
    .menu-header{
        width: 8vw;
        margin-left: 1rem;
    }
    .opcoes-logo-header{
        display: flex;
        align-items: center;
        gap: .5rem;
    }
    .opcoes-header{
        display: flex;
        font-size: 1.3rem;
        font-family: var(--texto-comum);
        height: 15vh;
        width: 22vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--branco);
    }
    .LogoSalesForce-header{
        width: 40vw;
    }
    .section-principal-header{
        height: 30vh;
        background-color: var(--azul-escuro);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hamburger {
        cursor: pointer;
        display: flex;
        align-items: center;
        z-index: 4;
        display: none;
      }
      
      .hamburger input {
        display: none;
      }
      .logo-sales-force{
        display: flex;
        align-items: center;
        margin-top: 2vh;
        margin-left: 2vh;
      }
      .hamburger svg {
        height: 3em;
        /* Define the transition for transforming the SVG */
        transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-inline: 2vw;
        z-index: 4;
      }
      
      .line {
        fill: none;
        stroke: var(--branco);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        /* Define the transition for transforming the Stroke */
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .line-top-bottom {
        stroke-dasharray: 12 63;
      }
      
      .hamburger input:checked + svg {
        transform: rotate(-45deg);
      }
      
      .hamburger input:checked + svg .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
      }
      .nav-list {
        display: none;
        flex-direction: column;
        background-color: #032D60; /* Cor de fundo do menu */
        padding: 1vw;
        position: absolute;
        top: 10vh; /* Posição inicial do menu */
        width: 10vw; /* Largura do menu */
        z-index: 3;
    }
    
    .nav-list.open {
        display: none;
        align-items: center; 
        z-index: 3;
    }
    
    .nav-item {
        list-style-type: none;
        margin-bottom: 10px;
    }
    
    .nav-link {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;
        font-family: "Righteous", 'sans-serif';
    }
    
    .nav-link:hover {
        color: #fff; /* Cor do texto ao passar o mouse */
    }
    .nav-link:visited {
        color: #fff; /* Cor do texto ao passar o mouse */
    }
}
@media (min-width: 720px) and (max-width: 1024px){
    .opcoes-logo-header{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .opcoes-header{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 24vw;
        font-size: 1.5rem;
        color: var(--branco);
        font-family: var(--texto-comum);
    }
    .menu-header{
        margin-left: 6vw;
        width: 4vw;
    }
    .div-principal-header{
        width: 100%;
        height: 30vh;
        background-color: var(--azul-escuro);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-principal-header{
        height: 30vh;
        background-color: var(--azul-escuro);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .LogoSalesForce-header{
        margin-top: 4vh;
        width: 23vw;
        padding: 2%;
    }
    .hamburger {
        cursor: pointer;
        display: flex;
        align-items: center;
        z-index: 4;
      }
      
      .hamburger input {
        display: none;
      }
      .logo-sales-force{
        display: flex;
        align-items: center;
        margin-top: 2vh;
        margin-left: 2vh;
      }
      .hamburger svg {
        height: 3em;
        /* Define the transition for transforming the SVG */
        transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-inline: 2vw;
        z-index: 4;
      }
      
      .line {
        fill: none;
        stroke: var(--branco);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        /* Define the transition for transforming the Stroke */
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .line-top-bottom {
        stroke-dasharray: 12 63;
      }
      
      .hamburger input:checked + svg {
        transform: rotate(-45deg);
      }
      
      .hamburger input:checked + svg .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
      }
      .nav-list {
        display: none;
        flex-direction: column;
        background-color: #032D60; /* Cor de fundo do menu */
        padding: 1vw;
        position: absolute;
        top: 10vh; /* Posição inicial do menu */
        width: 8rem; /* Largura do menu */
        z-index: 3;
    }
    
    .nav-list.open {
        display: flex;
        align-items: center; 
        margin-top: 5rem;
        margin-left: -85vw;
        z-index: 3;
    }
    
    .nav-item {
        list-style-type: none;
        margin-bottom: 10px;
    }
    
    .nav-link {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;
        font-family: "Righteous", 'sans-serif';
    }
    
    .nav-link:hover {
        color: #fff; /* Cor do texto ao passar o mouse */
    }
    .nav-link:visited {
        color: #fff; /* Cor do texto ao passar o mouse */
    }
}
@media (min-width: 1025px) and (max-width: 1440px){
    .opcoes-logo-header{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .opcoes-header{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 23.5vw;
        font-size: 2rem;
        white-space: pre;
        color: var(--branco);
        font-family: var(--texto-comum);
    }
    .menu-header{
        margin-left: 6vw;
        width: 3.5vw;
    }
    .div-principal-header{
        width: 100%;
        height: 30vh;
        background-color: var(--azul-escuro);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-principal-header{
        height: 30vh;
        background-color: var(--azul-escuro);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .LogoSalesForce-header{
        width: 20vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
    .hamburger {
        cursor: pointer;
        display: flex;
        align-items: center;
        z-index: 4;
      }
      
      .hamburger input {
        display: none;
      }
      .logo-sales-force{
        display: flex;
        align-items: center;
        margin-top: 2vh;
        margin-left: 2vh;
      }
      .hamburger svg {
        height: 3em;
        font-size: 1.4em;
        /* Define the transition for transforming the SVG */
        transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
        margin-inline: 2vw;
        z-index: 4;
      }
      
      .line {
        fill: none;
        stroke: var(--branco);
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        /* Define the transition for transforming the Stroke */
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      
      .line-top-bottom {
        stroke-dasharray: 12 63;
      }
      
      .hamburger input:checked + svg {
        transform: rotate(-45deg);
      }
      
      .hamburger input:checked + svg .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
      }
      .nav-list {
        display: none;
        flex-direction: column;
        background-color: #032D60; /* Cor de fundo do menu */
        padding: 1vw;
        position: absolute;
        top: 10vh; /* Posição inicial do menu */
        width: 10vw; /* Largura do menu */
        z-index: 3;
    }
    
    .nav-list.open {
        display: flex;
        align-items: center; 
        margin-left: -75vw;
        z-index: 3;
    }
    
    .nav-item {
        list-style-type: none;
        margin-bottom: 10px;
    }
    
    .nav-link {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s ease;
        font-family: "Righteous", 'sans-serif';
    }
    
    .nav-link:hover {
        color: #fff; /* Cor do texto ao passar o mouse */
    }
    .nav-link:visited {
        color: #fff; /* Cor do texto ao passar o mouse */
    }
}
@media (min-width: 1441px) and (max-width: 1500px){
    .opcoes-logo-header{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .opcoes-header{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 23.5vw;
        font-size: 2rem;
        white-space: pre;
        color: var(--branco);
        font-family: var(--texto-comum);
    }
    .menu-header{
        margin-left: 6vw;
        width: 3.5vw;
    }
    .div-principal-header{
        width: 100%;
        height: 30vh;
        background-color: var(--azul-escuro);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-principal-header{
        height: 30vh;
        background-color: var(--azul-escuro);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .LogoSalesForce-header{
        width: 20vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }
}